In [3]:
import pandas as pd
import numpy as np

In [4]:
data = '{"employees":[{"firstname":"John","lastname":"Doe"},{"firstname":"Praveen","lastname":"Krishnan"},{"firstname":"Kim","lastanme":"Jon"}]}'

In [5]:
pd.read_json(data)

                                          employees
0          {'firstname': 'John', 'lastname': 'Doe'}
1  {'firstname': 'Praveen', 'lastname': 'Krishnan'}
2           {'firstname': 'Kim', 'lastanme': 'Jon'}

In [11]:
jsc = pd.read_csv('random_num.csv')
jsc

  Unnamed: 0  C1  C2  C3  C4
0         R1   0   1   2   3
1         R2   4   5   6   7
2         R3   8   9  10  11
3         R4  12  13  14  15
4         R5  16  17  18  19

In [13]:
jsj = jsc.to_json()
jsj

'{"Unnamed: 0":{"0":"R1","1":"R2","2":"R3","3":"R4","4":"R5"},"C1":{"0":0,"1":4,"2":8,"3":12,"4":16},"C2":{"0":1,"1":5,"2":9,"3":13,"4":17},"C3":{"0":2,"1":6,"2":10,"3":14,"4":18},"C4":{"0":3,"1":7,"2":11,"3":15,"4":19}}'

In [23]:
jsc.to_json(orient='split') #INDEX

'{"columns":["Unnamed: 0","C1","C2","C3","C4"],"index":[0,1,2,3,4],"data":[["R1",0,1,2,3],["R2",4,5,6,7],["R3",8,9,10,11],["R4",12,13,14,15],["R5",16,17,18,19]]}'

In [24]:
jsc.to_json(orient='records')

'[{"Unnamed: 0":"R1","C1":0,"C2":1,"C3":2,"C4":3},{"Unnamed: 0":"R2","C1":4,"C2":5,"C3":6,"C4":7},{"Unnamed: 0":"R3","C1":8,"C2":9,"C3":10,"C4":11},{"Unnamed: 0":"R4","C1":12,"C2":13,"C3":14,"C4":15},{"Unnamed: 0":"R5","C1":16,"C2":17,"C3":18,"C4":19}]'

In [25]:
jsc.to_json(orient='columns')# VALUES & TABLES

'{"Unnamed: 0":{"0":"R1","1":"R2","2":"R3","3":"R4","4":"R5"},"C1":{"0":0,"1":4,"2":8,"3":12,"4":16},"C2":{"0":1,"1":5,"2":9,"3":13,"4":17},"C3":{"0":2,"1":6,"2":10,"3":14,"4":18},"C4":{"0":3,"1":7,"2":11,"3":15,"4":19}}'

In [29]:
#pd.read_html('contact.html')  -table should present

In [30]:
#pd.read_html('contact.html',match='contacts') -if more than one table in same url

In [31]:
#pd.read_excel('excel.xlsx')

In [32]:
# Pickling is another important thing in pandas. Often used

### More in kaggle micro course