In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.preprocessing import StandardScaler
import pandas as pd
import seaborn as sns

In [20]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
X = df.drop("species",axis=1)
y = df["species"]

In [22]:
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

In [28]:
clf = LogisticRegression(random_state=0,multi_class='ovr')

In [29]:
tmodel = clf.fit(X_train,y_train)

In [35]:
X_test.join(y_test).head()

     sepal_length  sepal_width  petal_length  petal_width    species
47            4.6          3.2           1.4          0.2     setosa
24            4.8          3.4           1.9          0.2     setosa
127           6.1          3.0           4.9          1.8  virginica
114           5.8          2.8           5.1          2.4  virginica
103           6.3          2.9           5.6          1.8  virginica

In [32]:
tmodel.predict([[4.6,3.2,1.4,0.2]])

array(['setosa'], dtype=object)

In [36]:
tmodel.predict([[6.1,3.0,4.9,1.8]])

array(['virginica'], dtype=object)

In [37]:
from sklearn.metrics import accuracy_score

In [39]:
y_pred = tmodel.predict(X_test)

In [40]:
print(accuracy_score(y_test,y_pred))

0.9736842105263158