In [4]:
import pandas as pd

In [18]:
df = pd.read_csv('random_num.csv',usecols=[1,2])

In [19]:
df

   C1  C2
0   0   1
1   4   5
2   8   9
3  12  13
4  16  17

## Normalization(min-max Normalization)
### scaling to 0 to 1
#### Xnorm = (X - Xmin) / Xmax - Xmin

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [25]:
scaling = MinMaxScaler()

In [30]:
scaling.fit_transform(df[['C1','C2']])

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [0.75, 0.75],
       [1.  , 1.  ]])

## Standardization (Z-score Normsalization)
### Mean = 0 , SD = 1
#### Z = (X-Mean) / SD

In [32]:
from sklearn.preprocessing import StandardScaler

In [34]:
scaling2 = StandardScaler()

In [35]:
scaling2.fit_transform(df[['C1','C2']])

array([[-1.41421356, -1.41421356],
       [-0.70710678, -0.70710678],
       [ 0.        ,  0.        ],
       [ 0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356]])